.mainContainer{
    width: 100%;
    margin: auto;
}

.img{
    width: 100%;
    height: 100vh;
}

.textField{
    position: absolute;
    width: 28.02vw;
    height: 68px;
    left: 685px;
    top: 140px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 67px;
    text-align: center;
    color: #FFFFFF;
}

.pageIntro{
    position: absolute;
    width: 414px;
    height: 30px;
    left: 753px;
    top: 250px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.inputContainer{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
}


.zipcodeInput{
    width: 28.125vw;
    height: 38px;
    left: 975px;
    top: 505px;
    margin-left: 30px;
    margin-top: 25px;

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 0px;
}

.milesInput{
    width: 28.125vw;
    height: 38px;
    left: 405px;
    top: 505px;
    margin-left: 405px;

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 0px;
}

.btn{
    width: 57.81vw;
    height: 38px;
    left: 405px;
    top: 559px;
    margin-left: 405px;
    margin-top: 30px;
    
    background: #E05433;
    border: 1px solid #E05433;
    box-sizing: border-box;
    border-radius: 0px;
    color: #FFFFFF;
}

@media only screen and (max-width: 320px){
    .inputContainer{
        position: absolute;
        top: 40%;
        right: 0;
    }

    .img{
        width: 150vw;
        height: 100vh;
    }

    .milesInput{
        height: 30px;
        width: 200px;
        top: 505px;
        margin-left: 200px;
        background: #FFFFFF;
        border: 1px solid #CED4DA;
        box-sizing: border-box;
        border-radius: 0px;
    }

    .zipcodeInput{
        height: 30px;
        width: 200px;
        top: 505px;
        margin-top: 10px;
        margin-left: 200px;
        background: #FFFFFF;
        border: 1px solid #CED4DA;
        box-sizing: border-box;
        border-radius: 0px;
    }

    .btn{
        height: 38px;
    left: 405px;
    top: 559px;
    margin-left: 209px;
    margin-top: 30px;
    background: #E05433;
    border: 1px solid #E05433;
    box-sizing: border-box;
    border-radius: 0px;
    color: #FFFFFF;
    }

}
@media only screen and (min-device-width: 321px) and (max-device-width: 583px) {
    .textField{
        position: absolute;
        width: 538px;
        height: 68px;
        left: 20px;
        top: 140px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 67px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .pageIntro{
        position: absolute;
        width: 414px;
        height: 30px;
        left: 70px;
        top: 230px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
    }
    .inputContainer{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    
    
    .zipcodeInput{
        width: 40vw;
        height: 30px;
        left: 975px;
        top: 505px;
        margin-left: 180px;
        margin-top: 25px;
    
        background: #FFFFFF;
        border: 1px solid #CED4DA;
        box-sizing: border-box;
        border-radius: 0px;
    }
    
    .milesInput{
        width: 40vw;
        height: 30px;
        left: 405px;
        top: 505px;
        margin-left: 180px;
    
        background: #FFFFFF;
        border: 1px solid #CED4DA;
        box-sizing: border-box;
        border-radius: 0px;
    }
    
    .btn{
        width: 40vw;
        height: 36px;
        left: 405px;
        top: 559px;
        margin-left: 180px;
        margin-top: 30px;
        background: #E05433;
        border: 1px solid #E05433;
        box-sizing: border-box;
        border-radius: 0px;
        color: #FFFFFF;
    }
    
  }


@media only screen and (min-device-width: 584px) and (max-device-width: 800px){ 
    .img{
        width: 158vw;
        height: 200vh;
    }

    .inputContainer{
        position: absolute;
        margin-right: -300px;
        width: 200vw;
        top: 80%;
        width: 150vw;
        right: 0;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .milesInput{
        width: 29vw;
        height: 38px;
        top: 505px;
        margin-left: 444px;
        background: #FFFFFF;
        border: 1px solid #CED4DA;
        box-sizing: border-box;
        border-radius: 0px;
    }

    .btn{
        width: 58vw;
        height: 45px;
        left: 405px;
        top: 559px;
        margin-left: 457px;
        margin-top: 30px;
        background: #E05433;
        border: 1px solid #E05433;
        box-sizing: border-box;
        border-radius: 0px;
        color: #FFFFFF;
    }
}


@media only screen and (min-device-width: 801px) and (max-device-width: 1024px){
    .img{
        width: 100%;
        height: 100vh;
    }
    
    .inputContainer{
        position: absolute;
        width: 100%;
        top: 52%;
        left: 0;
        right: 0;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .textField{
        width: 538px;
        height: 68px;
        left: 240px;
        top: 150px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 53px;
        line-height: 67px;
        text-align: center;
        color: #FFFFFF;
    }

    .pageIntro{
        width: 414px;
        height: 30px;
        left: 297px;
        top: 250px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
    }

    .milesInput{
        width: 28.125vw;
        height: 38px;
        left: 405px;
        top: 505px;
        margin-left: 210px;
        background: #FFFFFF;
        border: 1px solid #CED4DA;
        box-sizing: border-box;
        border-radius: 0px;
    }

    .btn{
        width: 59.5vw;
        height: 38px;
        left: 405px;
        top: 559px;
        margin-left: 210px;
        margin-top: 30px;
        background: #E05433;
        border: 1px solid #E05433;
        box-sizing: border-box;
        border-radius: 0px;
        color: #FFFFFF;
    }
  }