.mainDiv{
    margin: auto;
    width: 540px;
    height: 818x;
    left: 682px;
    margin-top: 104px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-sizing: border-box;
    border-radius: 0px;
}

.registration{
    width: 158px;
    height: 48px;
    left: 777px;
    top: 146px;
    margin-top: 30px;
    margin-left: 60px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 48px;

    color: #212529;
}

.introReg{
    width: 406px;
    height: 48px;
    left: 727px;
    margin-top: 20px;
    margin-left: 40px;
    text-align: left;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #212529;
}

.nameLabel{
    width: 42px;
    height: 24px;
    left: 727px;
    top: 269px;
    margin-left: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;

    color: #212529;
}

.nameInput{
    width: 450px;
    height: 38px;
    left: 727px;
    top: 301px;
    margin-left: 40px;
    margin-top: 10px;

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 0px;
}

.regEmailLabel{
    width: 99px;
    height: 24px;
    left: 727px;
    top: 355px;
    margin-left: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;

    color: #212529;

}

.regEmailInput{
    width: 450px;
    height: 38px;
    left: 727px;
    top: 387px;
    margin-left: 40px;
    margin-top: 10px;

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 0px;
}

.regPassword{
    width: 66px;
    height: 24px;
    left: 727px;
    top: 441px;
    margin-left: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.regPasswordInput{
    width: 450px;
    height: 38px;
    left: 727px;
    top: 473px;
    margin-left: 40px;
    margin-top: 10px;

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 0px;
}

.regPasswordConfirm{
    width: 127px;
    height: 24px;
    left: 727px;
    top: 527px;
    margin-left: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #212529;
}

.regPasswordConfirmInput{
    width: 450px;
    height: 38px;
    left: 727px;
    top: 559px;
    margin-left: 40px;
    margin-top: 10px;

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 0px;
}

.radioBtns{
    width: 450px;
    height: 122px;
    left: 727px;
    top: 621px;
    margin-left: 40px;
    margin-top: 10px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-sizing: border-box;
    border-radius: 0px;
}

.role{
    width: 86px;
    height: 24px;
    left: 748px;
    top: 640px;
    margin-left: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.warning{
    color: #DC3545;
}