.header{
    display: flex;
    justify-content: space-between;
    height: 56px;
    background: #E05433;
}



.logo{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-top: 13px;
}

span{
    top: -10px;
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
}



@media (max-width: 583px) {
    .logo{
        margin-left: 60px;
        margin-top: 13px;
    }
  }

@media only screen and (min-device-width: 584px) and (max-device-width: 800px){
    .logo{
        margin-left: 70px;
        margin-top: 14px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        height: 56px;
        width: 154vw;
        background: #E05433;
    }
}

@media only screen and (min-device-width: 801px) and (max-device-width: 1024px){
    .logo{
        margin-left: 150px;
        margin-top: 13px;
    }
}


