.mainDiv{
    margin: auto;
    width: 540px;
    height: 484px;
    left: 690px;
    margin-top: 104px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-sizing: border-box;
    border-radius: 0px;
}

.title{
    width: 560px;
    height: 560px;
    margin-left: 60px;
    margin-top: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    color: #212529;
}

.introPage{
    width: 393px;
    height: 48px;
    left: 735px;
    margin-top: -500px;
    margin-left: 40px;
    text-align: left;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #212529;

}

.emailLabel{
    width: 99px;
    height: 24px;
    left: 735px;
    margin-left: 40px;
    margin-top: 165px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    
    color: #212529;
}

.emailInput{
    width: 450px;
    height: 38px;
    left: 735px;
    top: 301px;
    margin-left: 40px;
    margin-top: 10px;

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 0px;
}

.passwordLabel{
    width: 66px;
    height: 24px;
    left: 735px;
    margin-left: 40px;
    margin-top: 261px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #212529;
}

.passwordInput{
    width: 450px;
    height: 38px;
    left: 735px;
    top: 387px;
    margin-left: 40px;

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 0px;
}

button{
    width: 450px;
    height: 38px;
    left: 735px;
    margin-left: 40px;
    margin-top: 25px;

    background: #E05433;
    border: 1px solid #E05433;
    box-sizing: border-box;
    border-radius: 0px;
    color: #FFFFFF;
}

.forgotPassword{
    width: 129px;
    height: 24px;
    left: 735px;
    top: 503px;
    margin-left: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #212529;
}

.resetPassword{
    width: 108px;
    height: 24px;
    left: 864px;
    top: 503px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    
    color: #E05433;
}